In [27]:
import pandas as pd
from math import sin, cos, sqrt, atan2
import tensorflow as tf

In [23]:
# import pandas lib as pd
import pandas as pd

# read by default 1st sheet of an excel file
dataframe1 = pd.read_excel('C:/Users/manis/Downloads/RTO_Hackathon/src/data/ampa_wmt_rto_hackathon_july-22_data.xlsx')

df=pd.read_excel('C:/Users/manis/Downloads/RTO_Hackathon/src/data/ampa_wmt_rto_hackathon_july-22_data.xlsx')

In [5]:
print(f"total number of features {dataframe1.size}")

total number of features 230800

In [6]:
dataframe1.head()

,shelter_id,intake_date,Species,found_lng,found_lat,outcome_lng,outcome_lat,distance_miles,found_address,outcome_address
0,Rochester,2021-01-28,Dog,-77.633991,43.177237,-77.634618,43.178387,0.085445,158 Glenwood ave Rochester 14613,54 Tacoma Street Rochester NY 14613
1,Rochester,2021-01-30,Dog,-77.599173,43.185495,-77.583367,43.171650,1.245466,1094 HUDSON AVE 14621 Rochester 14621,31 CROMBIE ST Rochester NY 14605
2,Rochester,2021-01-30,Dog,-77.617074,43.241926,-77.615373,43.249483,0.528722,17 Hughes pl Rochester 14608,4313 LAKE AVE Rochester NY 14612
3,Rochester,2021-02-01,Dog,-77.643231,43.180933,-77.645970,43.179665,0.163735,DRIVING PK and 2 CANARY ST. Rochester 14608,1 CANARY ST Rochester NY 14613
4,Rochester,2021-02-03,Dog,-77.650684,43.143780,-77.653187,43.145435,0.170467,74 Thurston Rd Rochester 14608,216 DEPEW Street Rochester NY 14611

In [14]:
df.columns

Index(['shelter_id', 'intake_date', 'Species', 'found_lng', 'found_lat',
       'outcome_lng', 'outcome_lat', 'distance_miles', 'found_address',
       'outcome_address'],
      dtype='object')

In [7]:
df['Species'].value_counts()['Dog']

8344

In [8]:
print("Different types of pets")
pet_types=[]
for i in df['Species'].unique():
  print(i)
  pet_types.append(i)

Different types of pets
Dog
Cat
Pet Reptile
Pig
Horse
Rabbit
DOG
nan
Other

In [9]:
# combining dog and DOG
df['Species'] = df['Species'].replace(['DOG'],['Dog'])

In [10]:
print("Different types of pets")
pet_types=[]
for i in df['Species'].unique():
  print(i)
  pet_types.append(i)

Different types of pets
Dog
Cat
Pet Reptile
Pig
Horse
Rabbit
nan
Other

In [11]:
print("Total number of dogs missing",df['Species'].value_counts()['Dog'])
total_dogs_per=df['Species'].value_counts()['Dog']/df.size
print("percentage of dogs",total_dogs_per)

Total number of dogs missing 19617
percentage of dogs 0.08499566724436741

In [20]:
mean_df=df['distance_miles'].mean()
print(mean_df)
print(df['distance_miles'].median())

df_dist_gt_mean=df[df['distance_miles']>mean_df]
print(df_dist_gt_mean.size)
print(df_dist_gt_mean.head())

7.352015913573794
0.41285351834816053
25140
    shelter_id intake_date Species  found_lng  found_lat  outcome_lng  \
96   Rochester  2021-01-01     Dog -77.607977  43.180587   -77.818658
120  Rochester  2021-05-18     Dog -77.590721  43.186155   -77.713842
149  Rochester  2021-12-02     Dog -77.587840  43.192495   -77.173657
150  Rochester  2021-12-03     Dog -77.567882  43.176069   -77.442413
161  Rochester  2021-01-04     Dog -77.644462  43.141385   -77.934398

     outcome_lat  distance_miles                           found_address  \
96     43.319909       14.336131        JOSEPH and AVE D Rochester 14621
120    43.265851        8.300449     500 CARTER ST 14621 Rochester 14621
149    43.231520       21.085977       1425 Portland Ave Rochester 14513
150    42.854546       23.086764  2000 Clifford av 14621 Rochester 14608
161    43.202084       15.236735           296 Aldine st Rochester 14614

                                  outcome_address
96   695 HAMILN PARMA TOWNLINE RD Hilton NY 14468
120       629 WHISPERING PINES Rochester NY 14612
149             4359 RIDGE RD Williamson NY 14589
150          74444 Weiland rd Bloomfield NY 14469
161          50 SWEDEN HILL RD Brockport NY 14420

In [12]:
df[df['Species']=='nan'].size

0

In [13]:
dict={}
for i in pet_types:
  if df[df['Species']==i].size:
    
    print(f"Total number of {i} missing {df['Species'].value_counts()[i]}")
    dict[i]=df['Species'].value_counts()[i]
    per=df['Species'].value_counts()[i]/df.size
    print(f"percentage of{i} {per} ")
print(dict)

Total number of Dog missing 19617
percentage ofDog 0.08499566724436741
Total number of Cat missing 316
percentage ofCat 0.0013691507798960138
Total number of Pet Reptile missing 1
percentage ofPet Reptile 4.332755632582323e-06
Total number of Pig missing 2
percentage ofPig 8.665511265164645e-06
Total number of Horse missing 2
percentage ofHorse 8.665511265164645e-06
Total number of Rabbit missing 1
percentage ofRabbit 4.332755632582323e-06
Total number of Other missing 27
percentage ofOther 0.00011698440207972271
{'Dog': 19617, 'Cat': 316, 'Pet Reptile': 1, 'Pig': 2, 'Horse': 2, 'Rabbit': 1, 'Other': 27}

* Observation Dogs are more missing
* next cat
* next others(bear,panda)