In [ ]:
import pandas as pd
from math import sin, cos, sqrt, atan2

In [ ]:
# import pandas lib as pd
import pandas as pd

# read by default 1st sheet of an excel file
dataframe1 = pd.read_excel('/content/drive/MyDrive/RTO_Hackathon/ampa_wmt_rto_hackathon_july-22_data.xlsx')

df=pd.read_excel('/content/drive/MyDrive/RTO_Hackathon/ampa_wmt_rto_hackathon_july-22_data.xlsx')

In [ ]:
print(f"total number of features {dataframe1.size}")

total number of features 230800

In [ ]:
dataframe1.head()

,shelter_id,intake_date,Species,found_lng,found_lat,outcome_lng,outcome_lat,distance_miles,found_address,outcome_address
0,Rochester,2021-01-28,Dog,-77.633991,43.177237,-77.634618,43.178387,0.085445,158 Glenwood ave Rochester 14613,54 Tacoma Street Rochester NY 14613
1,Rochester,2021-01-30,Dog,-77.599173,43.185495,-77.583367,43.171650,1.245466,1094 HUDSON AVE 14621 Rochester 14621,31 CROMBIE ST Rochester NY 14605
2,Rochester,2021-01-30,Dog,-77.617074,43.241926,-77.615373,43.249483,0.528722,17 Hughes pl Rochester 14608,4313 LAKE AVE Rochester NY 14612
3,Rochester,2021-02-01,Dog,-77.643231,43.180933,-77.645970,43.179665,0.163735,DRIVING PK and 2 CANARY ST. Rochester 14608,1 CANARY ST Rochester NY 14613
4,Rochester,2021-02-03,Dog,-77.650684,43.143780,-77.653187,43.145435,0.170467,74 Thurston Rd Rochester 14608,216 DEPEW Street Rochester NY 14611

In [ ]:
df['Species'].value_counts()['Dog']

8344

In [ ]:
print("Different types of pets")
pet_types=[]
for i in df['Species'].unique():
  print(i)
  pet_types.append(i)

Different types of pets
Dog
Cat
Pet Reptile
Pig
Horse
Rabbit
DOG
nan
Other

In [ ]:
# combining dog and DOG
df['Species'] = df['Species'].replace(['DOG'],['Dog'])

In [ ]:
print("Different types of pets")
pet_types=[]
for i in df['Species'].unique():
  print(i)
  pet_types.append(i)

Different types of pets
Dog
Cat
Pet Reptile
Pig
Horse
Rabbit
nan
Other

In [ ]:
print("Total number of dogs missing",df['Species'].value_counts()['Dog'])
total_dogs_per=df['Species'].value_counts()['Dog']/df.size
print("percentage of dogs",total_dogs_per)

Total number of dogs missing 19617
percentage of dogs 0.08499566724436741

In [ ]:
df[df['Species']=='nan'].size

0

In [ ]:
dict={}
for i in pet_types:
  if df[df['Species']==i].size:
    
    print(f"Total number of {i} missing {df['Species'].value_counts()[i]}")
    dict[i]=df['Species'].value_counts()[i]
    per=df['Species'].value_counts()[i]/df.size
    print(f"percentage of{i} {per} ")
print(dict)

Total number of Dog missing 19617
percentage ofDog 0.08499566724436741
Total number of Cat missing 316
percentage ofCat 0.0013691507798960138
Total number of Pet Reptile missing 1
percentage ofPet Reptile 4.332755632582323e-06
Total number of Pig missing 2
percentage ofPig 8.665511265164645e-06
Total number of Horse missing 2
percentage ofHorse 8.665511265164645e-06
Total number of Rabbit missing 1
percentage ofRabbit 4.332755632582323e-06
Total number of Other missing 27
percentage ofOther 0.00011698440207972271
{'Dog': 19617, 'Cat': 316, 'Pet Reptile': 1, 'Pig': 2, 'Horse': 2, 'Rabbit': 1, 'Other': 27}

* Observation Dogs are more missing
* next cat
* next others(bear,panda)